body{
	font-family: 'Lato', sans-serif;
	font-weight: 300;
	font-size: 28px;
	line-height: 36px;
	color: #000 !important;
}

/*
p{
	font-size: 1.20rem;
	line-height: 135%;
	margin: 1.46rem 0 1.168rem 0;
}

span{
	font-size: 1.30rem;
}

h1,h2,h3,h4,h5,h6,h7{
	font-family: 'Lato', sans-serif !important;
	font-weight: 300;
}

h1 {
	font-size: 3.06rem;
	line-height: 110%;
	margin: 2.1rem 0 1.68rem 0;
}

h2 {
	font-size: 2.42rem;
	line-height: 110%;
	margin: 1.78rem 0 1.424rem 0;
}

h3 {
	font-size: 1.78rem;
	line-height: 110%;
	margin: 1.46rem 0 1.168rem 0;
}

h4 {
	font-size: 1.14rem;
	line-height: 110%;
	margin: 1.14rem 0 0.912rem 0;
}

h5 {
	font-size: 1.30rem;
	line-height: 110%;
	margin: 0.82rem 0 0.656rem 0;
}

h6 {
	font-size: .80rem;
	line-height: 110%;
	margin: 0.5rem 0 0.4rem 0;
}

.misconception h7{
	font-size: 24px;
	color:#D3D3D3;

    
}
*/

.card .card-image .card-title {
    width: 100%;
}


.container {
	margin: 0 auto;
	max-width: 1920px;
	width: 80%;
}

.header-area {
	padding-top: 1px;
	position: relative;
}

.index .header-area {
	height: 100%;
}

.header-area nav{
	background: rgba(0,0,0,0);
}


.sns-links{
	margin-right: 20px;
}

.sns-links li{
	display: inline;
}

.sns-links li a{
	color: #d3d3d3;
	transition: 0.3s;
}

.sns-links li a:hover{
	color: #d29948;
	transition: 0.3s;
}

.sns-links img{
    width: 30px;
    height: 30px;
}

.brand-logo img{
	width: 160px;
	height: 79px;
}

.titleBox h1{
	font-family: 'bangla mn';
}

.titleBox {
	margin: auto;
	opacity: 0;
}

iframe{
	border: 0;
	width: 100%;
	height: 100%;
}

.dropdown-button i{
	margin-left: 0px;
}

nav {
	-webkit-box-shadow: 0 0px 0px 0 rgba(0,0,0,0), 0 0px 0px 0 rgba(0,0,0,0), 0 0px 0px -0px rgba(0,0,0,0); 
	 box-shadow: 0 0px 0px 0 rgba(0,0,0,0), 0 0px 0px 0 rgba(0,0,0,0), 0 0px 0px -0px rgba(0,0,0,0);
}


.chev{
	font-size: 20px !important;	
	margin-top: 2px;
}

nav ul a{
	transition: 0.3s;
}

nav ul a:hover {
	transition: 0.3s;
	background: transparent !important;
	color:#d29948 !important;
}

#btnSearch{
	color:#d29948 !important;
}

nav .dropdown-content{
	width: 240px !important;
	border: 1px solid #d29948;
	-webkit-box-shadow: 0 0px 0px 0 rgba(0,0,0,0), 0 0px 0px 0 rgba(0,0,0,0), 0 0px 0px -0px rgba(0,0,0,0); 
	box-shadow: 0 0px 0px 0 rgba(0,0,0,0), 0 0px 0px 0 rgba(0,0,0,0), 0 0px 0px -0px rgba(0,0,0,0);
}


nav .dropdown-content li a{
	color: #000 !important;
	padding-top: 20px;
	box-shadow: 0;
}

nav .dropdown-content li a:hover{
	color:#d29948 !important;
}

nav .dropdown-content li:hover{
	background: transparent !important;
}

.index .content-area{
	position: relative;
	padding: 20px 0 20px 0;
	height: 100%;
}


.blue-mosque{
	position: absolute;
	bottom: 0;
	background: url(../images/mosque-desktop-blue.png) 0 100%;
	background-repeat: repeat-x;
	width:100%;
	height: 558px;
}

.yellow-mosque{
	position: absolute;
	bottom: 0;
	z-index: -1;
	background: url(../images/mosque-desktop-yellow.png);
	width:100%;
	height: 482px;
	-webkit-animation-delay: 0.5s;
}

.index .img-container{
	width: 100%;
	height: 100%;
	position: relative;
}

.index .img-container img{
	position: absolute;
	bottom:0;
	right:200px;
	margin: auto;
	width: 470px;
	-webkit-animation-delay: 1s;
}

.index .section01 .row{
	height: 70%;
}

.index .section01 .text, 
.index .section01 .img,
.index .section03 .partner,
.index .section03 .text{
	opacity: 0;
}

.index .section03{
	padding: 10px 0 1px 0;
}

.index .section03 .row .col {
    padding: 0 .99rem;
}

.index .section03 .responsive-img{
	width: 80%
}

.index .section01 .lantern{
	width: 350px;
}

.arrow-down{
	position: absolute;
	bottom: 25px;
	left: 0;
	right: 0;
	margin: auto;
	-webkit-animation-delay: 1.5s;
}

.index .content-area .section02{
	padding: 50px 0 50px 0;
	
}

.lantern-container{
	position: relative;
}

.lantern-container .diamond {
	position: absolute;
	top: 50;
	left:0;
	width: 250px;
}

.index .content-area .section01 p{
	padding-top: 25px;
}

.index .content-area .section03{
	background-color: #e1b458;
	position: absolute;
	bottom: 0;
	width: 100%;
}


.btn-take-action a{
	padding-top: 5px;
	width: 360px;
	height: 60px;
	background: #34376b;
	padding-top: 10px;
}

.btn-take-action a:hover{
	background-color: #4d4968;
}


.index .video-area .video-box{
	height: 85%;
	width: 100%;
}
.video-area .video-box{
	height: 675px;
}

iframe{
	width: 100%;
	height: 100%;
}

.card .card-image img {
	margin: auto;
	width: 50%;
}

.card-action a{
	width: 100%;
}

.video-area .cards{
	padding-top: 100px;
}

.footer{
    padding: 140px 0 50px 0;
}

/*about-----------------------------------------*/
.about .content-area .section01, 
.about .content-area .section02,
.about .content-area .section03,
.about .content-area .section04{
	padding: 25px 0 25px 0;
}

.about .content-area .section04 .row{
	padding-top: 50px;
}

.about .content-area .title-container {
	background: url(../images/triangle-banner.png) 0 100%;
	width: 100%;
	height: 240px;
	position: relative;
}

.about .content-area .section02 .main-img{
	width: 300px;
	height: 300px;
	background: #e1b458;
	border-radius: 150px;
	margin: auto;
	opacity: 0;
}

.about .content-area .section02 h3 {
	margin-top: 40px;
}

.about .content-area .section02 .main-img img{
	width: 80%;
	margin: auto;
}

.about .content-area .section03 .responsive-img{
	width: 70%;
}

.about .content-area .section03 .row{
	opacity: 0;
}


.about .content-area .section04 .responsive-img{
	width: 100%;
}

.about .content-area .section04 .img-container{
	background: #e1b458;
	position: relative;
	overflow: hidden;
}
.about .content-area .section03{
	background: #ffe0b2;
}

.about .content-area .section04{
	padding-top: 50px;
}

.about .content-area .section04 .sns-links-creator{
	position: absolute;
	top: 50px;
	right: 10px;
	list-style: none;
}

.about .content-area .section04 .sns-links-creator li{
	margin-bottom: 10px;
}

.about .fb{
	margin-right: -110px;
}

.about .twitter{
	margin-right: -110px;
	transition-delay: 0.2s
}

.about .content-area .section04 .sns-links-creator a{
	color: #9e9e9e;
}

.about .content-area .section04 .img-container:hover a{
	margin-right: 0;
}

.about .content-area .section04 .img-container img{
	transition: ease 0.4s;
}

.about .content-area .section04 .img-container:hover img{
	transform: scale(0.8);
	transition: ease 0.4s;
}
/*about-----------------------------------------*/

/*misconception---------------------------------*/
.misconecption .content-section{
	background: #34376b;
	padding-bottom: 50px;
}

.misconecption .text{
	padding: 50px 0 25px 0;
}

.responsive-img-moon,
.responsive-img-halal,
.responsive-img-pig,
.responsive-img-mat,
.responsive-img-hijab
{
	width: 60%;
}

.responsive-img-pray{
	width: 30%;
}

.text-moon{
	padding: 25px 0 25px 0;	
}

blockquote {
	border-left: 5px solid #ffab40;
}

.misconecption .row02 .responsive-img,
.misconecption .row02 .white-text,
.misconecption .row02 p,
.misconecption .row03 .responsive-img-moon,
.misconecption .row03 .white-text,
.misconecption .row03 p{
	opacity: 0;
}
/*misconception---------------------------------*/


/*facts---------------------------------*/
.facts .content-section{
	background: #ffecb3;
	padding-bottom: 50px;
}

.facts .text{
	padding: 50px 0 25px 0;
}

.responsive-img-moon {
	width: 80%;
}

.text-moon{
	padding: 25px 0 25px 0;	
}

blockquote {
	border-left: 5px solid #ffab40;
}

.facts .row02 .responsive-img,
.facts.row02 .white-text,
.facts .row02 p,
.facts .row03 .responsive-img-moon,
.facts .row03 .white-text,
.facts .row03 p{
	opacity: 0;
}
/*facts---------------------------------*/

/*forum-----------------------------------------*/
.forum-input-container{
	position: relative;
}
.forum #forumBtnSend {
	position: absolute;
	bottom: 20px;
}

.forum .content-area, .video01 .video-area .section02 .video-comment{
	position: relative;
}

.forum .loading, .video01 .video-area .loading{
	position: absolute;
	height: 100%;
	width: 100%;
	background: rgba(255,255,255,0.5);
}

.forum .btn-container {
	padding-top: 20px;
}

.forum .content-area .collapsible-header {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	cursor: pointer;
	-webkit-tap-highlight-color: transparent;
	line-height: 1.5;
	padding: 1rem;
	background-color: transparent !important;
	border-bottom: 1px solid transparent !important;
}


ul.dropdown-content.select-dropdown li span {
	color:#ffab40 !important;
}

.input-field textarea:focus + label, .input-field input:focus + label{
	color: #ffab40 !important;
}

.row .input-field textarea:focus, .row .input-field input:focus  {
	border-bottom: 1px solid #ffab40 !important;
	box-shadow: 0 1px 0 0 #ffab40 !important;
}

.input-field .prefix.active{
	color: #ffab40 !important;
}

.creator01{
    margin-left: 20.666667% !important;
}

/*forum-----------------------------------------*/

/*take-action-----------------------------------*/
.take-action .content-area .section01{
	padding: 50px 0 25px 0;
}
.take-action .content-area .section02{
	padding: 25px 0 0 0;
}


.slider .indicators .indicator-item.active {
	background-color: #e0af29;
}
/*take-action-----------------------------------*/

/*contact---------------------------------------*/
.contact .section01,
.contact .section02,
.contact .section-map{
	padding: 25px 0 25px 0;
}
.contact .content-area .title-container {
	background: url(../images/triangle-banner.png) 0 100%;
	width: 100%;
	height: 240px;
	position: relative;
}

.contact .map-container{
	height: 300px;
}
/*contact---------------------------------------*/


/*video01---------------------------------------*/
.video01 .video-area .section01{
	padding: 50px 0 25px 0;
}

.video01 .btn-container{
	padding-top: 20px;
}

.video-area .collapsible-header {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	cursor: pointer;
	-webkit-tap-highlight-color: transparent;
	line-height: 1.5;
	padding: 1rem;
	background-color: transparent !important; 
	border-bottom: 1px solid transparent !important;
	
}

.modal{
	height: 500px;
}

.reply{
	font-size: 1.4rem;
}

.commentTitle{
	margin-top: 50px;
}

.modal {
	height: 100%;
	width: 80%;
}

.video01 .collection .text-container{
	height: 20%;
}


.video01 .video-area .video-box{
	position: relative;
}

.video01 .video-box iframe{
	position:absolute;
	z-index: -1;
}

.video01 .collapsible iframe{
	max-width: 100%;
	height: auto;
}

.video01 .collapsible-body {
	padding: 0.5rem;
}

.video01 .collection .collection-item.avatar {
	 padding-left: 0;
}

.video01 .collapsible p{
	font-size: 20px;
}

.video01 .collapsible .row {
	margin-bottom: 0;
}
/*video01---------------------------------------*/

/*video-thumbs---------------------------------------*/
.video-thumbs .content-area{
	padding: 50px 0 20px 0;
}

.video-thumbs .content-area .responsive-img{
	width: 100%;
	height: auto;
}

.video-thumbs .content-area .btn{
	width: 95%;
	border-radius: 50px;
}

.video-thumbs .content-area .row .col {
	padding: 0 1.75rem;
}
/*video-thumbs---------------------------------------*/

@media screen and (max-width: 1170px) {
	
	
	
	.container{
		width:90%;
	}
	
	
}



@media screen and (max-width: 600px) {
	.index .content-area .section03 {
		background-color: #e1b458;
		position: static;
	}
	
	.index .video-area h3{
		font-size: 2.5rem;
	}
	
	.index .content-area{
		height: auto;
	}
	
	.index .img-container img{
        right: 0;
		left: 0;
		margin: auto;
		width: 200px !important;
		height 100px;
	}
	
	.index .section01 .row{
		height: auto;
	}

	
	.index .content-area .section01 .responsive-img {
		width: 50%;
	}
	
	.btn-take-action a{
		padding-top: 5px;
		width: 100%;
		height: 50px;
		background: #34376b;
	}
	
	.forum-input-container{
		position: static;
	}
	.forum #forumBtnSend {
		position: static;
		bottom: 0px;
	}
	
	.misconecption .content-area h1{
		font-size: 2.5rem;
	}
	
	.video-area .video-box{
		height: 250px;
	}
	
	.misconecption .content-area .responsive-img{
		width: 70%;
	}
	
	.misconecption .content-area h2{
		font-size: 2.6rem;
	}
	
	.creator01{
        margin-left: 0 !important;
    }
}

@media screen and (max-width: 1720px) {

	.index .section01 .lantern {
		width: 250px;
	}
	
	.lantern-container .diamond {
		top: 20px;
		left: 50px;
	}
	
	.card .card-title {
		font-size: 20px;
		font-weight: 300;
	}
	p{
		font-size: 1.20rem !important;
		line-height: 135%;
		margin: 1.46rem 0 1.168rem 0;
	}

	span{
		font-size: 1.30rem !important;
	}

	h1,h2,h3,h4,h5,h6,h7{
		font-family: 'Lato', sans-serif !important;
		font-weight: 300;
	}

	h1 {
		font-size: 3.06rem !important;
		line-height: 110%;
		margin: 2.1rem 0 1.68rem 0;
	}

	h2 {
		font-size: 2.42rem !important;
		line-height: 110%;
		margin: 1.78rem 0 1.424rem 0;
	}

	h3 {
		font-size: 1.78rem !important;
		line-height: 110%;
		margin: 1.46rem 0 1.168rem 0;
	}

	h4 {
		font-size: 1.14rem !important;
		line-height: 110%;
		margin: 1.14rem 0 0.912rem 0;
	}

	h5 {
		font-size: 1.30rem !important;
		line-height: 110%;
		margin: 0.82rem 0 0.656rem 0;
	}

	h6 {
		font-size: .80rem !important;
		line-height: 110%;
		margin: 0.5rem 0 0.4rem 0;
	}

	.misconception h7{
		font-size: 44px;
		color:#D3D3D3;


	}

	.index p{
		font-size: 1.30rem !important;
		line-height: 135%;
		margin: 1.46rem 0 1.168rem 0;

	}

	.index h1 {
		font-size: 3.06rem !important;
		line-height: 110%;
		margin: 2.1rem 0 1.68rem 0;
	}

	.index h2 {
		font-size: 2.35rem !important;
		line-height: 110%;
		margin: 1.78rem 0 1.424rem 0;
	}

	.index h3 {
		font-size: 1.70rem !important;
		line-height: 110%;
		margin: 1.46rem 0 1.168rem 0;
	}

	.index h4 {
		font-size: 1.14rem !important;
		line-height: 110%;
		margin: 1.14rem 0 0.912rem 0;
	}

	.index h5 {
		font-size: 1.30rem !important;
		line-height: 110%;
		margin: 0.82rem 0 0.656rem 0;
	}

	.index h6 {
		font-size: .80rem !important;
		line-height: 110%;
		margin: 0.5rem 0 0.4rem 0;
	}

	.index h7{
		font-size: 24px !important;
		color:#D3D3D3;


	}

	.misconecption h7{
		color:#f5f5f5;
	}

}

@media screen and (max-width: 1920px) {
	
	.card .card-title {
		font-size: 40px;
		font-weight: 300;
	}
	
	.misconecption h7{
		color:#f5f5f5;
	}
	p{
		font-size: 2.40rem;
		line-height: 135%;
		margin: 1.46rem 0 1.168rem 0;
	}
	
	h1 {
		font-size: 6.12rem;
		line-height: 110%;
		margin: 2.1rem 0 1.68rem 0;
	}

	h2 {
		font-size: 4.84rem;
		line-height: 110%;
		margin: 1.78rem 0 1.424rem 0;
	}

	h3 {
		font-size: 3.56rem;
		line-height: 110%;
		margin: 1.46rem 0 1.168rem 0;
	}

	h4 {
		font-size: 2.28rem;
		line-height: 110%;
		margin: 1.14rem 0 0.912rem 0;
	}

	h5 {
		font-size: 2.30rem;
		line-height: 110%;
		margin: 0.82rem 0 0.656rem 0;
	}

	h6 {
		font-size: .80rem;
		line-height: 110%;
		margin: 0.5rem 0 0.4rem 0;
	}

	.misconception h7{
		font-size: 44px;
		color:#D3D3D3;


	}
	
	.index p{
		font-size: 2.60rem;
		line-height: 135%;
		margin: 1.46rem 0 1.168rem 0;

	}
	
	

	.index h1 {
		font-size: 6.12rem;
		line-height: 110%;
		margin: 2.1rem 0 1.68rem 0;
	}

	.index h2 {
		font-size: 4.70rem;
		line-height: 110%;
		margin: 1.78rem 0 1.424rem 0;
	}

	.index h3 {
		font-size: 2.40rem;
		line-height: 110%;
		margin: 1.46rem 0 1.168rem 0;
	}

	.index h4 {
		font-size: 2.28rem;
		line-height: 110%;
		margin: 1.14rem 0 0.912rem 0;
	}

	.index h5 {
		font-size: 2.60rem;
		line-height: 110%;
		margin: 0.82rem 0 0.656rem 0;
	}

	.index h6 {
		font-size: 1.60rem;
		line-height: 110%;
		margin: 0.5rem 0 0.4rem 0;
	}

	.index h7{
		font-size: 44px;
		color:#D3D3D3;


	}

}

@media screen and (max-width: 1600px) {
	.index .section01 .lantern {
		max-width: 100%;
	}
	
	.lantern-container .diamond {
		top: 0;
		left: 0;
		max-width: auto;
	}
	
	.index .img-container img{
		width: 330px;
	}
}

@media screen and (max-width: 1360px) {

	.container{
		width: 90%;
	}

	.index .img-container img{
		width: 280px;
	}

	.blue-mosque{
		position: absolute;
		bottom: 0;
		background: url(../images/main-banner.png) 0 100%;
		background-repeat: repeat-x;
		width:100%;
		height: 380px;
	}

}

/*
.index p{
    font-size: 1.30rem;
	line-height: 135%;
	margin: 1.46rem 0 1.168rem 0;
    
}

.index h1 {
	font-size: 3.06rem;
	line-height: 110%;
	margin: 2.1rem 0 1.68rem 0;
}

.index h2 {
	font-size: 2.35rem;
	line-height: 110%;
	margin: 1.78rem 0 1.424rem 0;
}

.index h3 {
	font-size: 1.70rem;
	line-height: 110%;
	margin: 1.46rem 0 1.168rem 0;
}

.index h4 {
	font-size: 1.14rem;
	line-height: 110%;
	margin: 1.14rem 0 0.912rem 0;
}

.index h5 {
	font-size: 1.30rem;
	line-height: 110%;
	margin: 0.82rem 0 0.656rem 0;
}

.index h6 {
	font-size: .80rem;
	line-height: 110%;
	margin: 0.5rem 0 0.4rem 0;
}

.index h7{
	font-size: 24px;
	color:#D3D3D3;

    
}

.misconecption h7{
    color:#f5f5f5;
}
*/

/*
.card .card-title {
    font-size: 20px;
    font-weight: 300;
}
*/


.index .responsive-img-card1{
    width:70%;
}


.index .responsive-img-card2{
    width:79.0% !important;
}

.films .responsive-img{
    max-width:50%;
}

.films .aladdin{
    max-width: 55%;
}

.facts .row01,
.facts .row02,
.facts .row03{
        /*opacity: 0;*/
}